Property/Property/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28668/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyService" />
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="user" nillable="true" type="q1:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="role" nillable="true" type="q2:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectRoleResult" nillable="true" type="q3:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="deal" nillable="true" type="q4:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDealResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDeal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectDealResult" nillable="true" type="q5:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="house_type" nillable="true" type="q6:HouseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHouseTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHouseType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHouseTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectHouseTypeResult" nillable="true" type="q7:ArrayOfHouseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProperty_Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="property_type" nillable="true" type="q8:Property_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProperty_TypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProperty_Type">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProperty_TypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectProperty_TypeResult" nillable="true" type="q9:ArrayOfProperty_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectRealtyResult" nillable="true" type="q10:ArrayOfRealty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByEmailUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByEmailUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindByEmailUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectUsersResult" nillable="true" type="q11:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="AuthenticationResult" nillable="true" type="q12:Authentication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="user" nillable="true" type="q13:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDUsersResult" nillable="true" type="q14:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDProperty_Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDProperty_TypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDProperty_TypeResult" nillable="true" type="q15:Property_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDObjectResult" nillable="true" type="q16:Object" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDHouseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDHouseTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDHouseTypeResult" nillable="true" type="q17:HouseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdRealty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdRealtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIdRealtyResult" nillable="true" type="q18:Realty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDServicesResult" nillable="true" type="q19:Services" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIDRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="FindByIDRoleResult" nillable="true" type="q20:Role" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="ReportCountResult" nillable="true" type="q21:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPrice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="ReportPriceResult" nillable="true" type="q22:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealtyTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealtyTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectRealtyTableResult" nillable="true" type="q23:ArrayOfRealtyTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectObjectResult" nillable="true" type="q24:ArrayOfObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectServicesResult" nillable="true" type="q25:ArrayOfServices" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealtorDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRealtorDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SelectRealtorDealResult" nillable="true" type="q26:ArrayOfRealtorDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRealty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="realty" nillable="true" type="q27:Realty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRealtyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>